pool:
 vmImage: 'windows-latest'
steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    goals: 'package'

- task: CopyFiles@2
  inputs:
    contents: '**/*.war'
    targetFolder: '$(build.artifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    artifactName: 'war'
    pathToPublish: '$(build.artifactStagingDirectory)'
- task: AzureRmWebAppDeployment@4
  inputs:
        ConnectionType: 'AzureRM'
        azureSubscription: 'beatblip1'
        appType: 'webApp'
        WebAppName: 'beatblipwebapp'
        packageForLinux: 'd:\a\1\a\target\simpleWebApplication.1-0.0.1-SNAPSHOT.war'

- script: curl -o HuLoopConsole.zip https://demo.huloop.ai/HuLoopSubscriptionUI/HuLoopConsoleCiCd.zip
  displayName: 'Download HuLoop headless agent'

#Step2 Extracting Zip File
- task: ExtractFiles@1
  inputs:
    archiveFilePatterns: '*.zip'
    cleanDestinationFolder: false
    destinationFolder: C:\Users\VssAdministrator

#Step3
- script: curl -o test.txt https://demo.huloop.ai/HuLoopSubscriptionUI/HuLoop.txt 
  displayName: 'Download configuration file'

#Step4
- script: curl -o chromedriver.exe https://demo.huloop.ai/HuLoopSubscriptionUI/chromedriver.exe 
  displayName: 'Download chrome exe'

#Step5
- script: C:\Users\VssAdministrator\huloop\huloop.exe -open "$(Agent.BuildDirectory)\s\test.txt"
  displayName:'Run HuLoop'

- script: curl -o test.bat https://demo.huloop.ai/HuLoopSubscriptionUI/test.bat 
  displayName: 'Download Batch Script'

- task: BatchScript@1
  inputs:
    filename: '$(Agent.BuildDirectory)\s\test.bat'
